{% extends "base.html" %}

{% block content %}
    <!-- h1>Enter Channel Number to set Full or Out</h1 -->

{% include 'admin/admin_menu.html' %}

{% if base %}
<script>
    base_page = "{{ base }}";
    document.getElementsByClassName(base_page)[0].classList.add("selected-button", "w3-green");
    document.getElementsByClassName(base_page)[0].classList.remove("w3-dark-gray");
</script>
{% endif %}


<!-- Page Content -->
<div class="w3-main" style="margin-left:200px">
  <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>Admin Tasks</h1>
    <p>Choose item from the menu.</p>
  </div>
</div>

<script src="{{ url_for('admin.static', filename='js/admin.js') }}?v={{ version }}"></script>


{% endblock %}
