{% extends "base.html" %}

{% block content %}
    <!-- h1>Enter Channel Number to set Full or Out</h1 -->

{% include 'admin/admin_menu.html' %}

{% if base %}
<script>
    base_page = "{{ base }}";
    document.getElementsByClassName(base_page)[0].classList.add("selected-button", "w3-green");
    document.getElementsByClassName(base_page)[0].classList.remove("w3-dark-gray");
</script>
{% endif %}

<!-- Page Content -->
<div class="w3-main" style="margin-left:200px">
  <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>Manage QLAB Commands</h1>
    <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>
    <div id="qlab-commands-table"></div>
    <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>
    {{ form.add_qlab_command() }}
  </div>
  
</div>

<script>
  //var tabledata = {{ page_content|tojson }};

  const requiredFields = ["name", "parameter_1", "parameter_2", "parameter_3", "active"];

  const tabledata = "/admin/get_qlab_commands"

  const qlabCommandsTable = new Tabulator("#qlab-commands-table", {
    //height:205, // set height of table (in CSS or here), this enables the Virtual DOM 
    // and improves render speed dramatically (can
    // data:tabledata, //assign data to table
    ajaxURL: tabledata,
    //layout:"fitColumns", //fit columns to width of table (optional)
    layout:"fitDataTable",
    index:"ID",
    tabEndNewRow: true,
    responsiveLayout:true,
    columns:[ //Define Table Columns
      {title:"ID", field:"ID",  visible:false},
      {title:"Active", field:"active", hozAlign:"center", editor:"list", 
        editorParams:{
          values:["Y", "N"],
        },
        responsive:3,
      },
      {title:"Command", field:"name", editor:"input", responsive:0},
      {title:"Parameter 1", field:"parameter_1", editor:"input",responsive:0},
      {title:"Parameter 2", field:"parameter_2", editor:"input",responsive:0},
      {title:"Parameter 3", field:"parameter_3", editor:"input",responsive:0},
    ],
    });

  qlabCommandsTable.on("cellEdited", function(cell) {
    const row = cell.getRow();
    const rowID = row.getIndex()
    if (rowID) {
      editCell(cell, "qlab_commands", "/admin/update_db_field"); 
    } else {
      addRow(cell, "qlab_commands", requiredFields, "/admin/insert_db_row")
    }   
  });


//Add row on "Add Row" button click
document.getElementById("add_qlab_command").addEventListener("click", function(){
    qlabCommandsTable.addRow({});
});
</script>

<script src="{{ url_for('admin.static', filename='js/admin.js') }}?v={{ version }}"></script>



{% endblock %}
