{% extends "base.html" %}

{% block content %}
    <!-- h1>Enter Channel Number to set Full or Out</h1 -->

{% include 'admin/admin_menu.html' %}

{% if base %}
<script>
    base_page = "{{ base }}";
    document.getElementsByClassName(base_page)[0].classList.add("selected-button", "w3-green");
    document.getElementsByClassName(base_page)[0].classList.remove("w3-dark-gray");
</script>
{% endif %}

<!-- Page Content -->
<div class="w3-main" style="margin-left:200px">
  <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>Manage 
      <span id='label-active' style="display:inline-block">Active</span>
      <span id='label-all' style="display:none">All</span>
      App Settings</h1>
      {{ site_form.see_all_records() }}
      {{ site_form.see_active_records() }}
    <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>
    {{ form.add_setting() }}
    {{ site_form.cancel_add() }}
    <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>
    <div class="pageErrorField w3-text-red"></div>
    <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>
    <div id="settingsTable"></div>
    <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>
  </div>
  
</div>

<script>

  const tableBaseUrl = '/admin/api/list_settings';
  const tableData = `${tableBaseUrl}/active`

  const requiredFields = ["name"];
  const excludedFields = [];
  const cancelAddButton = document.getElementById("cancel_add");
  const addRecordButton = document.getElementById("add_setting");
  const pageErrorField = document.querySelector(".pageErrorField")

  const updateTarget = {
    endpoint: "/admin/api/update_setting",
    idField: "index_id",
  };

  const allButton = document.getElementById("see_all_records");
  const activeButton = document.getElementById("see_active_records");

  const settingsTable = new Tabulator("#settingsTable", {
    //height:205, // set height of table (in CSS or here), this enables the Virtual DOM 
    // and improves render speed dramatically (can
    // data:tabledata, //assign data to table
    ajaxURL: tableData,
    dataLoader: false,
    layout:"fitDataTable",
    index:"index_id",
    tabEndNewRow: true,
    responsiveLayout:true,
    columns:[ //Define Table Columns
      {title:"Item", field:"name", editor:"input", responsive:0},
      {title:"Description", field:"description", editor:"input",responsive:2},
      {title:"Value", field:"value", editor:"input",responsive:0},
      {title:"Order", field:"the_order", hozAlign:"left", editor:"number", 
        editorParams:{
          min:0,
        }, responsive:3,
        minWidth:20
      },
      {
        title:"Active (Required)",
        field:"status_id",
        hozAlign:"center",
        formatter:"tickCross",
        formatterParams: {
         allowTruthy: true,
         tickElement:"<i class='fa fa-check'></i>",
         crossElement:"<i class='fa fa-times'></i>",
        },
        cellClick: function (e, cell) {
          cell.setValue(!cell.getValue());
        }, responsive:3,
      },
    ],
  });

  PageSetup.activeAllSelection({
      allButton: allButton,
      activeButton: activeButton,
      pageTable: settingsTable,
      tableBaseUrl
  })


  PageSetup.setupManageRecordChanges({
    table: settingsTable,
    addButton: addRecordButton,
    cancelButton: cancelAddButton,
    errorField: pageErrorField,
    createEndpoint: "/admin/api/add_setting",
    updateTarget,
    requiredFields,
    excludedFields,
  });


</script>

<script src="{{ url_for('admin.static', filename='js/admin.js') }}?v={{ version }}"></script>



{% endblock %}
