{% extends "base.html" %}

{% block content %}
    <!-- h1>Enter Channel Number to set Full or Out</h1 -->

{% include 'admin/admin_menu.html' %}

{% if base %}
<script>
    base_page = "{{ base }}";
    document.getElementsByClassName(base_page)[0].classList.add("selected-button", "w3-green");
    document.getElementsByClassName(base_page)[0].classList.remove("w3-dark-gray");
</script>
{% endif %}

<!-- Page Content -->
 <div class="w3-main" style="margin-left:200px">
  <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">

    <h2>System Status</h2>

    <!-- Settings -->
    <div class="w3-card w3-margin-bottom">
        <header class="w3-container w3-blue">
            <h3>Current App Settings</h3>
        </header>

        <div class="w3-container">
            <p><strong>Last Reload:</strong> {{ last_loaded }}</p>

            <div id="settings-table"></div>
        </div>
    </div>

    <!-- Devices -->
    <div class="w3-card">
        <header class="w3-container w3-green">
            <h3>Connected Devices (Recent Activity)</h3>
        </header>
        <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>

        <div class="w3-container">
            <div id="devices-table"></div>
        </div>
    </div>
  </div>
    

</div>

<script id="device-data" type="application/json">
    {{ devices|tojson }}
</script>

<script>
  const tabledata = "/admin/api/get_settings"

  const settingsTable = new Tabulator("#settings-table", {
    //height:205, // set height of table (in CSS or here), this enables the Virtual DOM 
    // and improves render speed dramatically (can
    // data:tabledata, //assign data to table
    ajaxURL: tabledata,
    dataLoader: false,
    layout:"fitDataTable",
    index:"index_id",
    tabEndNewRow: true,
    responsiveLayout:true,
    pagination: "local",
    paginationSize: 5, // Max rows shown per page
    columns:[ //Define Table Columns
      {title:"Item", field:"name", width: 150, responsive:0},
      {title:"Value", field:"value", width: 200,responsive:0},
      {title:"Active",
        field:"status_id",
        hozAlign:"center",
        formatter:"tickCross",
        formatterParams: {
         allowTruthy: true,
         tickElement:"<i class='fa fa-check'></i>",
         crossElement:"<i class='fa fa-times'></i>",
        },
      },
    ],
  });

  const all_devices = JSON.parse(
    document.getElementById("device-data").textContent
  );

  const devicesTable = new Tabulator("#devices-table", {
    layout:"fitDataTable",
    index:"ip",
    columns:[
      {title:"IP Address", field:"ip"},
      {title:"Last Seen", field:"last_seen"},
    ],
    data: all_devices,
  });

  

</script>

<script src="{{ url_for('admin.static', filename='js/admin.js') }}?v={{ version }}"></script>



{% endblock %}
