
{% extends "base.html" %}

{% block content %}

{% include 'user_menu.html' %} 

<div class="w3-container">
    <form  class="w3-container w3-card-4 w3-light-gray w3-margin-top w3-margin-bottom">
        <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>

        {{ form.hidden_tag() }}

        <div class="w3-row">
            <div class="w3-col m5 l4 w3-blue">Change Password</div>
        </div>

        <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>

        <div class="w3-row">
            <div class="w3-col m3 l2 w3-pale-green">Username</div>
        </div>
        <div class="w3-row">
            <div class="w3-col m3 l2">{{ current_user.username }}</div>
        </div>

        <div class="w3-row">
            <div class="w3-col m3 l2 w3-pale-green">Current Password</div>
        </div>
        <div class="w3-row">
            <div class="w3-col m3 l2">{{ form.password() }}</div>
        </div>

        <div class="w3-row">
            <div class="w3-col m3 l2 w3-pale-green">New Password</div>
        </div>
        <div class="w3-row">
            <div class="w3-col m3 l2">{{ form.new_password() }}</div>
        </div>

        <div class="w3-row">
            <div class="w3-col m3 l2 w3-pale-green">Confirm New Password</div>
        </div>
        <div class="w3-row">
            <div class="w3-col m3 l2">{{ form.confirm_password() }}</div>
        </div>

        <div class="w3-row"><div class="w3-col m3 l2">&nbsp;</div></div>

        <div class="w3-row">
            <div class="w3-col m3 l2">{{ form.submit_change_password() }}</div>
        </div>

        <div class="w3-row"><div class="w3-col m3 l2">&nbsp;</div></div>

    </form>
    <div class="w3-row">
    <div class="w3-col w3-panel w3-pale-blue alert-info" id="login_status"></div>
</div>

</div>

<script src="{{ url_for('profile.static', filename='js/profile.js') }}?v={{ version }}"></script>

{% endblock %}