{% extends "base.html" %}

{% block content %}
    <!-- h1>Enter Channel Number to set Full or Out</h1 -->

{% include 'tech_director/tech_director_menu.html' %}

<!-- Page Content -->
<div class="w3-main" style="margin-left:200px">
  <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>Manage 
      <span id='label-active' style="display:inline-block">Active</span>
      <span id='label-all' style="display:none">All</span>
      Shows
    </h1>
    {{ form.see_all_records() }}
    {{ form.see_active_records() }}
    <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>
    {{ form.add_record() }}
    {{ form.cancel_add() }}
    <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>
    <div class="pageErrorField w3-text-red"></div>
    <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>
    <div id="page-table"></div>
    
  </div>
</div>

<script>

  const pageErrorField = document.querySelector(".pageErrorField")
  const cancelAddButton = document.getElementById("cancel_add");
  const addRecordButton = document.getElementById("add_record");

  const allButton = document.getElementById("see_all_records");
  const activeButton = document.getElementById("see_active_records");


  const tableBaseUrl = '/tech_director/api/list_shows';
  const tableData = `${tableBaseUrl}/active`
  
  const requiredFields = ["name"];
  const excludedFields = ["ID"];

  

  const updateTarget = {
    endpoint: "/tech_director/api/update_show",
    idField: "index_id",
  };

  const pageTable = new Tabulator("#page-table", {
    ajaxURL: tableData,
    dataLoader: false,
    layout:"fitDataTable", //fit columns to width of table (optional)
    index:"index_id",
    tabEndNewRow: true,
    sortOrderReverse: true,
    initialSort: [
      {column: "opening_date", dir: "asc"},
    ],
    columns:[ //Define Table Columns
      {
        title:"Name",
        field:"name",
        editor:"input",
        headerFilter:"input"
      },      
      {title: "Opening Date", 
      field: "opening_date", 
      formatter:"datetime", formatterParams:{
          inputFormat:"yyyy-MM-dd",
          outputFormat:"yyyy-MM-dd",
          invalidPlaceholder:"(invalid date)",
          timezone:"America/Los_Angeles",
        },
      editor: "date", // Changed from "input"
      },
      {
        title:"Active",
        field:"status_id",
        hozAlign:"center", 
        formatter:"tickCross",
        formatterParams: {
         allowTruthy: true,
         tickElement:"<i class='fa fa-check'></i>",
         crossElement:"<i class='fa fa-times'></i>",
        },
        cellClick: function (e, cell) {
          cell.setValue(!cell.getValue());
        },
      },
    ],
    });

  PageSetup.activeAllSelection({
      allButton: allButton,
      activeButton: activeButton,
      pageTable,
      tableBaseUrl
  })
  
  PageSetup.setupManageRecordChanges({
    table: pageTable,
    addButton: addRecordButton,
    cancelButton: cancelAddButton,
    errorField: pageErrorField,
    createEndpoint: "/tech_director/api/add_show",
    updateTarget,
    requiredFields,
    excludedFields,
  });

</script>


<script src="{{ url_for('tech_director.static', filename='js/tech_director.js') }}?v={{ version }}"></script>

{% endblock %}