{% extends "base.html" %}

{% block content %}
    <!-- h1>Enter Channel Number to set Full or Out</h1 -->

{% include 'tech_director/tech_director_menu.html' %}


<!-- Page Content -->
<div class="w3-main" style="margin-left:200px">
  <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>Manage 
      <span id='label-active' style="display:inline-block">Active</span>
      <span id='label-all' style="display:none">All</span>
      Shows
    </h1>
    {{ form.see_all_records }}
    {{ form.see_active_records }}
    <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>
    {{ form.add_record() }}
    {{ form.cancel_add() }}
    <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>
    <div class="pageErrorField w3-text-red"></div>
    <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>
    <div id="page-table"></div>
    
  </div>
</div>

<script>

  const pageErrorField = document.querySelector(".pageErrorField")
  const cancelAddButton = document.getElementById("cancel_add");
  const addRecordButton = document.getElementById("add_record");

  const table_base_url = '/tech_director/api/get_shows';
  const tableData = `${table_base_url}/active`
  
  const requiredFields = ["name"];
  const excludedFields = ["ID"];

  const pageTable = new Tabulator("#page-table", {
    ajaxURL: tableData,
    dataLoader: false,
    layout:"fitDataTable", //fit columns to width of table (optional)
    index:"indexId",
    tabEndNewRow: true,
    sortOrderReverse: true,
    initialSort: [
      {column: "openingDate", dir: "asc"},
    ],
    columns:[ //Define Table Columns
      {
        title:"Name",
        field:"name",
        editor:"input",
        headerFilter:"input"
      },      
      {title: "Opening Date", 
      field: "openingDate", 
      formatter:"datetime", formatterParams:{
          inputFormat:"yyyy-MM-dd",
          outputFormat:"yyyy-MM-dd",
          invalidPlaceholder:"(invalid date)",
          timezone:"America/Los_Angeles",
        },
      editor: "date", // Changed from "input"
      },
      {
        title:"Active",
        field:"active",
        hozAlign:"center", 
        formatter:"tickCross",
        formatterParams: {
         allowTruthy: true,
         tickElement:"<i class='fa fa-check'></i>",
         crossElement:"<i class='fa fa-times'></i>",
        },
        cellClick: function (e, cell) {
          cell.setValue(!cell.getValue());
        },
      },
    ],
    });

  PageSetup.setupAddRecordControls({
    table: pageTable,
    addButton: addRecordButton,
    cancelButton: cancelAddButton,
    errorField: pageErrorField,
    createEndpoint: "/tech_director/api/add_show",
    updateEndpoint: "/tech_director/api/update_show",
    requiredFields,
    excludedFields,
  });

  /*pageTable.on("cellEdited", function(cell) {
    const fieldName = cell.getField();

    const row = cell.getRow();
    const rowID = row.getIndex()
    if (rowID) {
      TabulatorActions.updateCell(cell, "/tech_director/api/update_show"); 
    } else {
      TabulatorActions.createRow(row,  "/tech_director/api/add_show", requiredFields, excludedFields)
        .then(function() {
          pageErrorField.textContent = '';
          addRecordButton.classList.replace("w3-hide", "w3-show");
          cancelAddButton.classList.replace("w3-show", "w3-hide");
        })
        .catch(
          error => pageErrorField.textContent = error.message
        );
    }     
  });
  */

  

//Add row on "Add Row" button click

</script>


<script src="{{ url_for('tech_director.static', filename='js/tech_director.js') }}?v={{ version }}"></script>

{% endblock %}