{% extends "base.html" %}

{% block content %}
    <!-- h1>Enter Channel Number to set Full or Out</h1 -->

{% include 'tech_director/tech_director_menu.html' %}

{% if base %}
<script>
    base_page = "{{ base }}";
    document.getElementsByClassName(base_page)[0].classList.add("selected-button", "w3-green");
    document.getElementsByClassName(base_page)[0].classList.remove("w3-dark-gray");
</script>
{% endif %}

<!-- Page Content -->
<div class="w3-main" style="margin-left:200px">
  <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>Manage 
      <span id='label-active' style="display:inline-block">Active</span>
      <span id='label-all' style="display:none">All</span>
      Students
    </h1>
    {{ form.see_all_records }}
    {{ form.see_active_records }}
    <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>
    {{ form.add_student() }}
    <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>
    <div id="student-table"></div>
    
  </div>
</div>

<script>

  const table_base_url = '/tech_director/get_students';
  const tableData = `${table_base_url}/active`
  
  const requiredFields = ["email"];
  const excludedFields = ["ID", "class"];

  const pageTable = new Tabulator("#student-table", {
    ajaxURL: tableData,
    dataLoader: false,
    layout:"fitDataTable", //fit columns to width of table (optional)
    index:"indexId",
    tabEndNewRow: true,
    sortOrderReverse: true,
    initialSort: [
      {column: "graduationYear", dir: "asc"},
      {column: "firstName", dir: "asc" } // Then sort by this second
    ],
    columns:[ //Define Table Columns
      {
        title:"First Name",
        field:"firstName",
        editor:"input",
        headerFilter:"input"
      },
      {
        title:"Last Name",
        field:"lastName",
        editor:"input",
        headerFilter:"input"
      },       
      {title: "Graduation Year", 
      field: "graduationYear", 
      editor: "number", // Changed from "input"
      editorParams: {
        min: 2025,
        max: 2100,
        step: 1
      },
      mutateLink: "class", 
      validator: function(cell, value, parameters){
        // Convert string input to a base-10 integer
        var yearNum = parseInt(value, 10);
        
        // Ensure it is a valid number, and falls strictly within your min/max constraints
        return !isNaN(yearNum) && yearNum >= 2025 && yearNum <= 2100;
      }
      },
      {title:"Class", field:"class",
        mutator: function(value, data) {
          // data contains all values from the AJAX response for this row
          return getHighSchoolClass(data.graduationYear);
        }
      },
      {title:"Email", field:"email", editor:"input"},
      {title:"Notes", field:"notes", editor:"input"},
      {
        title:"Active",
        field:"active",
        hozAlign:"center", 
        formatter:"tickCross",
        formatterParams: {
         allowTruthy: true,
         tickElement:"<i class='fa fa-check'></i>",
         crossElement:"<i class='fa fa-times'></i>",
        },
        cellClick: function (e, cell) {
          cell.setValue(!cell.getValue());
        },
      },
      {title:"Parents' Name(s)", field:"parentName", editor:"input"},
      {title:"Parent's Email", field:"parentEmail", editor:"input"},
    ],
    });

  pageTable.on("cellEdited", function(cell) {
    var fieldName = cell.getField();

    // 1. Block the calculated column from triggering the update
    if (fieldName === "class") { 
        return; // Exit early, doing nothing
    }
    const row = cell.getRow();
    const rowID = row.getIndex()
    if (rowID) {
      editCellAPI(cell, "/tech_director/update_student"); 
    } else {
      addRowAPI(row,  "/tech_director/add_student", requiredFields, excludedFields)
    }     
  });

  

//Add row on "Add Row" button click


document.getElementById("add_student").addEventListener("click", function () {
  const blankRowData = {
    ID: null
  };

  pageTable.addRow(blankRowData, true)
    .then((row) => {
      row.select();
      setTimeout(function () {
        const cell = row.getCell("firstName");
        if (cell) {
          cell.edit();
        }
      }, 0);
    })
});
</script>

<script src="{{ url_for('dm7.static', filename='js/dm7.js') }}?v={{ version }}"></script>



{% endblock %}
