{% include 'user_menu.html' %} 

<!-- Sidebar -->

<div class="w3-sidebar w3-bar-block w3-collapse w3-card" style="width:200px;" id="av_clubSidebar">
    <button class="w3-bar-item w3-button w3-hide-large" onclick="w3_close()">Close &times;</button>

    <div class="w3-container w3-light-gray w3-center">
        <div class="w3-bar">

            <a href="{{ url_for('av_club.av_club_members') }}"
                class="w3-button w3-bar-item 
                    w3-left w3-dark-gray av_club av_club_members">AV Club Members</a>

            <a href="{{ url_for('av_club.students') }}"
                class="w3-button w3-bar-item 
                    w3-dark-gray av_club students">Students</a>

        {% if current_user.has_group("admin") %}
            <a href="{{ url_for('av_club.upload_students_gsheet') }}"
            class="w3-button w3-bar-item 
                    w3-dark-gray av_club upload_students">Upload Students</a>
        {% endif %}

        </div>
    </div>

</div>

<script>


function w3_open() {
  document.getElementById("av_clubSidebar").style.display = "block";
}
function w3_close() {
  document.getElementById("av_clubSidebar").style.display = "none";
}

</script>

