{% include 'user_menu.html' %} 

<!-- Sidebar -->

<div class="w3-sidebar w3-bar-block w3-collapse w3-card" style="width:200px;" id="tech_directorSidebar">
    <button class="w3-bar-item w3-button w3-hide-large" onclick="w3_close()">Close &times;</button>

    <div class="w3-container w3-light-gray w3-center">
        <div class="w3-bar">

            <a href="{{ url_for('tech_director.students') }}"
                class="w3-button w3-bar-item 
                    w3-dark-gray tech_director students">Students</a>
                    
            <a href="{{ url_for('tech_director.av_club_members') }}"
                class="w3-button w3-bar-item 
                    w3-left w3-dark-gray tech_director av_club_members">AV Club</a>

            
            
            <div class="w3-dropdown-hover">
                <button class="w3-button w3-dark-gray tech_director shows">Shows/Events<i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-bar-block">
                    <a href="{{ url_for('tech_director.shows') }}" 
                       class="w3-button w3-bar-item 
                       w3-left tech_director list">List</a>
                    <a href="#" class="w3-bar-item w3-button">Assign Student</a>
                </div>

            </div>

        {% if current_user.has_group("admin") %}
            <a href="{{ url_for('tech_director.upload_students_gsheet') }}"
            class="w3-button w3-bar-item 
                    w3-dark-gray tech_director upload_students">Upload Students</a>
        {% endif %}

        </div>
    </div>

</div>

<script>


function w3_open() {
  document.getElementById("tech_directorSidebar").style.display = "block";
}
function w3_close() {
  document.getElementById("tech_directorSidebar").style.display = "none";
}

</script>

