{% extends "base.html" %}

{% block content %}
    <!-- h1>Enter Channel Number to set Full or Out</h1 -->

{% include 'tech_director/tech_director_menu.html' %}

{% if base %}
<script>
    base_page = "{{ base }}";
    document.getElementsByClassName(base_page)[0].classList.add("selected-button", "w3-green");
    document.getElementsByClassName(base_page)[0].classList.remove("w3-dark-gray");
</script>
{% endif %}

<!-- Page Content -->
<div class="w3-main" style="margin-left:200px">
  <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>Upload Students From Google Sheet</h1>
    <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>
    
    <!-- Crucial: enctype must be multipart/form-data -->
    <form action="/tech_director/upload_students" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>
            {{ form.google_sheet_id.label }} {{ form.google_sheet_id() }}

        <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>
            {{ form.google_sheet_range.label }} {{ form.google_sheet_range() }}
            
        <div class="w3-row">
          <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>

            {{ form.upload_students() }}
        </div>
      
        
    </form>

    <div class="w3-row"><div class="w3-col m6 l4">&nbsp;</div></div>

    <div class="w3-row"><div id="upload_response" class="w3-col m6 l4">{{ upload_response }}</div></div>


    
  </div>
  
</div>

<script>
  
</script>

<script src="{{ url_for('tech_director.static', filename='js/tech_director.js') }}?v={{ version }}"></script>



{% endblock %}
