<!Doctype html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
        <title>{{ title }} - Mills Theater</title>
        {% else %}
        <title>Welcome to Mills Theater</title>
        {% endif %}
        
        <link rel="stylesheet" type="text/css" href="/static/css/w3.css">
        <link rel="stylesheet" type="text/css" href="/static/css/myStyle.css">
        
        <link href="/static/css/tabulator.min.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css" integrity="sha512-ApSLB1Pd3/bZN8fWB/RG9YhN/7bd9Hkf3AGaE2mPfebjrxagjuBtx2GcgdqIlJkUzwylBo61r9Xa9NmgBI0swA==" crossorigin="anonymous" referrerpolicy="no-referrer" />"
        
    </head>

    <body>

        {{ the_title }}

   
        <!-- script src="/static/js/jquery-4.0.0.min.js"></script -->
        <script type="text/javascript" src="/static/js/tabulator.min.js"></script>
        <script type="text/javascript" src="/static/js/luxon.min.js"></script>
        <script src="/static/js/script.js?v={{ version }}"></script>
        <script src="/static/js/api.js?v={{ version }}"></script>


        {% block content %} {% endblock %}

     
    </body>
</html>
